@import url(../../../styles.css);

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .main-section {
        gap: 8px;
        flex-grow: 1;
        background-color: var(--gray-bg);

        h1 {
            margin-top: 30px;
        }

    }

    .form-section {
        flex-grow: 0.3;
        padding: 0 35px;

        img {
            margin-bottom: 30px;
        }
        
        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .divider {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;
                margin: 20px 0;

                font-size: 14px;
                color: var(--text-color);
                font-weight: 400;
                text-transform: uppercase;

                div {
                    flex-grow: 1;
                    height: 2px;
                    background-color: var(--gray-bg);

                }
            }

            

            button {
            width: 100%;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: transparent;
            padding: 12px 24px;
            cursor: pointer;

            &.disabled {
                opacity: 0.6;
                cursor: not-allowed;
            }

            &.btn-primary {
                background-color: var(--primary-color);
                color: white;
                box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
            }

            &.btn-secondary {
                border: 1px solid var(--primary-color);
                color: var(--primary-color);
            }
        }

        }
        
        

    }
}

