@import 'ngx-toastr/toastr';

:root{
    --primary-color: #7001FD;
    --text-color: #555555;
    --secondary-color: #1E2772;
    --gray-bg:#EEEEEE;
    --gray-secondary-bg: #F1F3F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body {
    height: 100%;
    
}

