@import url(../../../styles.css);

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;


    span {
        font-size: 14px;
        text-decoration: underline;
        color: var(--secondary-color);
        cursor: pointer;
        text-align: end;
    }
}