<app-default-login-layout 
title="Create Your Account"
primaryBtnText="Signup Now"
secondaryBtnText="Login Now"
(submit)="submit()"
(navigate)="navigate()"
[disabelPrimaryBtn]="!signupForm.value.email || !signupForm.value.password || !signupForm.value.name || !signupForm.value.passwordConfirm">

    <form [formGroup]="signupForm">

        <app-primary-input
        formControlName="name"
        inputName="name"
        type="text"
        label="Your Name"
        placeholde="Ex: John Doe">
            <img src="assets/svg/email-icon.svg">
        </app-primary-input>

        <app-primary-input
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholde="ex@gmail.com">
            <img src="assets/svg/email-icon.svg">
        </app-primary-input>

        <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Your Password"
        placeholde="Password">
            <img src="assets/svg/password-icon.svg">
        </app-primary-input>

        <app-primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirm Password"
        placeholde="Password">
            <img src="assets/svg/password-icon.svg">
        </app-primary-input>     
    </form>
</app-default-login-layout>
